@media (max-width: 576px){
.text-align-s-center {
	text-align: center !important;
}
/*------- cmn-sty-sm -------*/
.grp-dis {
	padding: 0 10px !important;
}
.ps-0{
	padding: 0 !important;
}
.cross.position-absolute {
	right: -14% !important;
	top: 3% !important;
	transform: rotate(50deg);
}
.sub-btn {
	width: 100% !important;
}
.t-img:after {
	top: 36% !important;
}
.t-hover:hover .t-img:after {
	top: 34.6% !important;
}
.t-hover:hover .t-id {
	transform: translateX(-57%) !important;
}
}
@media (min-width: 576px) and (max-width: 992px){
.text-align-center {
	text-align: center !important;
}
.grp-dis {
	padding: 0 10px !important;
}
.ps-0{
	padding: 0 !important;
}
.sub-btn {
	width: 70% !important;
}
.t-img:after {
	top: 37% !important;
}
.t-hover:hover .t-img:after {
	top: 34.9% !important;
}
.t-hover:hover .t-id {
	transform: translateX(-63%) !important;
}
.blog-content {
	min-width: 720px;
}
.t-hover {
	min-height: 567px !important;
}
}
@media (min-width: 992px) and (max-width: 1200px) {}
@media (min-width: 1200px) {}