@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@500&family=Cabin:wght@600&family=Raleway:wght@500&display=swap');
/*---------- header ----------*/
.header:hover {
	background: white !important;
}
.navbar-brand {
	font-size: 31px !important;
}
.active {
	color: #2707d7 !important;
	text-decoration: none;
}
.nav-link {
	color: #494993 !important;
	font-size: 17px;
}
.nav-link:hover {
	color: #2707d7 !important;
}
.arrow {
	font-size: 18px;
}
.dropdown-item-1 {
	position: relative;
}
.dropdown-item-2 {
	position: absolute;
	top: 80%;
	left: 0%;
	min-width: 170px;
	height: 210px;
	font-size: 20px;
	background: white;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 0px 17px -1px #ccc;
	transform: translateY(20);
	transition: all 0.4s ease;
}
.dropdown-item-1:hover .dropdown-item-2 {
	opacity: 1;
	visibility: visible;
	transform: translateY(20);
	transition: all 0.4s ease;
}
.dropdown-item-3 {
	position: absolute;
	top: 30%;
	left: -83%;
	min-width: 170px;
	height: 160px;
	font-size: 20px;
	background: white;
	opacity: 0;
	visibility: hidden;
	box-shadow: 0px 0px 17px -1px #ccc;
	transform: translateY(20);
	transition: all 0.4s ease;
}
.deep:hover .dropdown-item-3 {
	opacity: 1;
	visibility: visible;
	transform: translateX(-20%);
	transition: all 0.4s ease;
}
/*--------- banner ----------*/
.back-img {
	background-image: url(../image/hero-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: scroll;
	background-size: cover;
	height: 100vh;
}
.pad {
	padding-top: 100px;
}
.text-primary {
	color: #494993 !important;
	font-weight: 700;
}
.ban-img img {
	display: flex;
}
.discuss {
	background: #e3f1f766;
}
.text-info {
	color: #2707d7 !important;
}
.top-0 {
	top: 13% !important;
}
.start-0 {
	left: 70% !important;
}
.b-1 {
	background: blue;
}
.b-1:hover {
	background: blue !important;
}
.button:hover a span i {
	transform: translateX(10);
	transition: all 0.4s ease;
	padding-left: 7px;
}
/*--------- card ----------*/
.card {
	height: 100%;
	min-width: 100%;
	box-shadow: 0px 0px 8px -1px #ccc;
	border: none !important;
	overflow: hidden;
	border-radius: 2px !important;
}
.card img {
	transform: scale(0.8);
	transition: all 0.6s ease;
}
.card:hover img {
	transform: scale(0.7);
	transition: all 0.6s ease;
}
.card:hover {
	box-shadow: 0px 0px 17px -1px #ccc;
}
/*--------- client ---------*/
.bg-white {
	box-shadow: 0px 0px 15px -1px #ccc;
}
.c-img {
	font-size: 40px !important;
}
/*--------- feature ---------*/
.rounded {
	box-shadow: 0px 0px 8px -2px #ccc !important;
}
.color {
	background: #ecf3ff;
	width: 15%;
	height: 7%;
}
.fut-list:hover .btn {
	border: none;
	background: blue;
	color: white;
}
.fut-list {
	color: #494993;
}
.coll-border {
	border-bottom: 1px solid #ccc;
}
.coll-list {
	position: relative;
	color: #494993;
}
.coll-list::before {
	content:"";
	width: 100%;
	height: 12%;
	position: absolute;
	bottom: -3%;
	left: 0%;
	background: blue;
}
.check {
	color: #0245bc;
}
/*--------- services ---------*/
.ser-cnt-1 {
	border-bottom: 3px solid #2db6fa;
}
.ser-list-1 a i {
	background: #d8f2fd7a;
	border-radius: 5px;
	color: #2db6fa;
}
.ser-arrow-1 a {
	color: #2db6fa !important;
}
.ser-cnt-1:hover {
	background: #2db6fa !important;
	color: white;
}
.ser-cnt-1:hover .ser-list-1 a i{
	background: white;
}
.ser-cnt-1:hover .ser-arrow-1 a {
	color: white !important;
}
.ser-cnt-2 {
	border-bottom: 3px solid #08da4e;
}
.ser-list-2 a i {
	background: #b2f5b275;
	border-radius: 5px;
	color: #08da4e;
}
.ser-arrow-2 a {
	color: #08da4e !important;
}
.ser-cnt-2:hover {
	background: #08da4e !important;
	color: white;
}
.ser-cnt-2:hover .ser-list-2 a i{
	background: white;
}
.ser-cnt-2:hover .ser-arrow-2 a {
	color: white !important;
}
.ser-cnt-3 {
	border-bottom: 3px solid #f68c09;
}
.ser-list-3 a i {
	background: #fddc916b;
	border-radius: 5px;
	color: #f68c09;
}
.ser-arrow-3 a {
	color: #f68c09 !important;
}
.ser-cnt-3:hover {
	background: #f68c09 !important;
	color: white;
}
.ser-cnt-3:hover .ser-list-3 a i{
	background: white;
}
.ser-cnt-3:hover .ser-arrow-3 a {
	color: white !important;
}
.ser-cnt-4 {
	border-bottom: 3px solid #e9222c;
}
.ser-list-4 a i {
	background: #f1959973;
	border-radius: 5px;
	color: #e9222c;
}
.ser-arrow-4 a {
	color: #e9222c !important;
}
.ser-cnt-4:hover {
	background: #e9222c !important;
	color: white;
}
.ser-cnt-4:hover .ser-list-4 a i{
	background: white;
}
.ser-cnt-4:hover .ser-arrow-4 a {
	color: white !important;
}
.ser-cnt-5 {
	border-bottom: 3px solid #b50edf;
}
.ser-list-5 a i {
	background: #e6a5f763;
	border-radius: 5px;
	color: #b50edf;
}
.ser-arrow-5 a {
	color: #b50edf !important;
}
.ser-cnt-5:hover {
	background: #b50edf !important;
	color: white;
}
.ser-cnt-5:hover .ser-list-5 a i{
	background: white;
}
.ser-cnt-5:hover .ser-arrow-5 a {
	color: white !important;
}
.ser-cnt-6 {
	border-bottom: 3px solid #f51f9c;
}
.ser-list-6 a i {
	background: #f196cb6b;
	border-radius: 5px;
	color: #f51f9c;
}
.ser-arrow-6 a {
	color: #f51f9c !important;
}
.ser-cnt-6:hover {
	background: #f51f9c !important;
	color: white;
}
.ser-cnt-6:hover .ser-list-6 a i{
	background: white;
}
.ser-cnt-6:hover .ser-arrow-6 a {
	color: white !important;
}